### Project-Flaredown

In [5]:
# Import required libraries
import pandas as pd
import zipfile

In [7]:
# Import the zipped file
zf = zipfile.ZipFile('../data/flaredown-autoimmune-symptom-tracker.zip') 

# Open zip and import into pandas as a dataframe
data = pd.read_csv(zf.open('fd-export.csv'))

In [8]:
# Explore the structure of the data
data.head()

,user_id,age,sex,country,checkin_date,trackable_id,trackable_type,trackable_name,trackable_value
0,QEVuQwEABlEzkh7fsBBjEe26RyIVcg==,NaN,NaN,NaN,2015-11-26,1069,Condition,Ulcerative colitis,0
1,QEVuQwEAWRNGnuTRqXG2996KSkTIEw==,30.0,male,US,2015-11-26,1069,Condition,Ulcerative colitis,0
2,QEVuQwEA+WkNxtp/qkHvN2YmTBBDqg==,0.0,female,CA,2017-04-28,3168,Condition,pain in left upper arm felt like i was getting...,4
3,QEVuQwEA+WkNxtp/qkHvN2YmTBBDqg==,0.0,female,CA,2017-04-28,3169,Condition,hip pain when gettin up,3
4,QEVuQwEA+WkNxtp/qkHvN2YmTBBDqg==,0.0,female,CA,2017-04-28,3170,Condition,pain in hand joints,4

In [9]:
# Explore the structure of the data
data.describe()

                age  trackable_id
count  1.556171e+06  1.651275e+06
mean   3.183804e+01  4.739014e+03
std    3.183051e+02  7.857414e+03
min   -1.966930e+05  1.000000e+00
25%    2.400000e+01  2.180000e+02
50%    3.000000e+01  7.320000e+02
75%    3.900000e+01  6.996000e+03
max    2.016000e+03  3.778500e+04